@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	font-family: "Inter", sans-serif;
}

.app-bg {
	position: absolute;
	inset: 0;
	z-index: -10;
	height: 100%;
	width: 100%;
	background-color: white;
	background-image: linear-gradient(to right, #8080800a 1px, transparent 1px),
		linear-gradient(to bottom, #8080800a 1px, transparent 1px);
	background-size: 14px 24px;
}

.app-inner-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -10;
	margin: auto;
	height: 100%;
	width: 100%;
	border-radius: 9999px;
	background-color: #f0abfc;
	opacity: 0.2;
	filter: blur(100px);
}

.app-title {
	display: inline-block;
	background-image: linear-gradient(to right, #d946ef, #ec4899, #f87171);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.search-input {
	height: 50px;
	width: 100%;
	border-radius: 9999px;
	border: 1px solid #cbd5e1;
	padding-left: 50px;
	padding-right: 20px;
	outline: none;
	transition: all 0.2s ease;

	&:hover {
		border-color: #f0abfc;
	}

	&:focus {
		border-color: #f5d0fe;
		border-width: 2px;
	}
}
.search-icon {
	left: 18px;
	width: 20px;
	height: 20px;
}

.cursor-pointer {
	cursor: pointer;
}

.list-group {
	text-decoration: none !important;
	top: calc(100% + 10px);
	border: 1px solid #e5e7eb;
	background-color: white;
	z-index: 50;
	border-radius: 0.75rem;
	width: 100%;
	right: 0;
}
.list-group-item {
	transition: 0.2 ease-in-out;
	&:hover {
		color: #d946ef;
		background-color: #fdf4ff;
	}
}

.toggle-temp-icon {
	width: 18px;
	height: 18px;
}
.toggle-temp-icon-sm {
	width: 15px;
	height: 15px;
}

/* WEATHER CARD */

.weather-container .weather-info {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.weather-container .city-country {
	font-size: 1.25rem;
	font-weight: bold;
	word-break: break-word;
	line-height: 1.2;
}

.weather-container .weather-date {
	font-weight: 500;
	color: #94a3b8;
	font-size: 0.875rem;
}

.weather-container .weather-info {
	display: flex;
	gap: 2rem;
	font-size: 0.875rem;
	font-weight: 500;
	color: #4b5563;
}
.weather-info-type {
	margin-top: -10px;
}

.weather-container .weather-icon {
	width: 50px;
	height: 50px;
}

.skeleton-loader {
	border-radius: 0.375rem;
	background-color: #f8ddfc;
	animation: pulse 1.5s ease-in-out infinite;
}
.empty-card {
	height: 150px;
}
.empty-card-lg {
	height: 200px;
	min-width: 80%;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}
.weather-other-details {
	flex-direction: column;
	gap: 5px !important;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.forecast-card {
	border: 1px solid rgb(216, 216, 216);
	border-radius: 12px;
	padding: 20px;
	background: #ffffff1a;
	backdrop-filter: blur(20px);
	min-width: 250px !important;
}

@media (min-width: 640px) {
	.weather-container .city-country {
		font-size: 1.5rem;
	}

	.weather-container .weather-date {
		font-size: 1rem;
	}

	.weather-container .weather-info {
		font-size: 1rem;
	}
	.app-inner-bg {
		height: 510px;
	}
	.weather-other-details {
		flex-direction: row;
		gap: 1rem !important;
	}
}

@media (min-width: 768px) {
	.weather-container .info {
		gap: 0.75rem;
	}

	.weather-container .city-country {
		font-size: 2.25rem;
	}

	.weather-container .weather-date {
		font-size: 1.125rem;
	}

	.weather-container .weather-info {
		font-size: 1.125rem;
	}
	.custom-sm-container {
		width: 600px;
	}
}

@media (min-width: 1024px) {
	.custom-md-container {
		width: 968px;
	}
	.empty-card-lg {
		min-width: 25%;
	}
}
